* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --bg: #FFF;
    --board-color: #f5f5f5;
    --cell-button-bg: #FFF;
    --text-color: #000;
}

.dark-mode {
    --bg: #121212;
    --text-color: #FFF;
    --board-color: #2f2f2f;
    --cell-button-bg: #262626;
}

body {
    background-color: var(--bg);
    display: grid;
    justify-items: center;
    height: 100svh;
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.3s ease;
}

.bi {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 2rem;
    color: var(--text-color);
}

body:not(.dark-mode) div .bi-sun-fill,
body.dark-mode div .bi-moon-stars-fill {
    display: none;
}

.dark-mode-toggle {
    cursor: pointer;
}

.container {
    color: var(--text-color);
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    grid-template-rows: 1fr 4fr 1fr;
    gap: 50px;
    transition: color 0.3s ease;
}

.title {
    align-self: flex-end;
    display: flex;
}

.title h1 {
    font-family: 'BOUNCY GUM', sans-serif;
    font-size: clamp(70px, 10vw, 100px);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.title h1:first-child {
    color: #6528F7
}

.title h1:nth-child(2) {
    color: #0ad8c4
}

.title h1:last-child {
    color: #FE346E
}

.grid {
    align-self: center;
    grid-row: 2 / 3;
    width: min(600px, 85vw);
    aspect-ratio: 1 / 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2%;
    place-items: center;
    border-radius: 20px;

}

.grid-cell {
    width: 100%;
    height: 100%;
    display: grid;
    background-color: var(--board-color);
    place-items: center;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.grid-cell:first-child {
    border-radius: 20px 0 0 0;
}

.grid-cell:nth-child(3) {
    border-radius: 0px 20px 0 0;
}

.grid-cell:nth-child(7) {
    border-radius: 0px 0px 0px 20px;
}

.grid-cell:last-child {
    border-radius: 0px 0px 20px 0px;
}

.cell-btn {
    display: none;
    place-self: center;
    width: 90%;
    height: 90%;
    /* background-color: var(--cell-button-bg); */
    /* box-shadow: 0 0 4px rgba(0, 0, 0, 0.3); */
    border-radius: 15px;
    place-items: center;
    transition: all 0.3s ease;
}

.grid-cell:not(.occupied) .cell-btn {
    cursor: pointer;
}


.grid-cell:not(.occupied):hover .cell-btn {
    display: grid;
    opacity: 0.5;
}

.grid-cell.occupied .cell-btn {
    display: grid;
}

svg {
    opacity: 0.5;
}

.grid-cell.occupied svg {
    opacity: 1;
}

.highlight {
    border: 6px solid rgb(21, 214, 130);
}

.game-over .grid-cell:not(.occupied):hover .cell-btn {
    display: none;
}

.interactions {
    grid-row: -1 / -2;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.interactions button {
    font-family: 'Poppins', sans-serif;
    border: none;
    width: 12rem;
    height: 3rem;
    border-radius: 99px;
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    background-color: var(--bg);
    border: 3px solid rgb(21, 214, 130);
    color: var(--text-color);
    transition: all 0.3s ease;
}

.interactions button:hover {
    box-shadow: none;
}